* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.time-select,
.sound-picker,
.player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.player-container {
  position: relative;
}
.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.time-display {
  position: absolute;
  color: white;
  bottom: 10%;
  font-size: 50px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
.time-select button,
.sound-picker button {
  background: none;
  color: white;
  width: 30%;
  height: 10%;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.time-select button:hover {
  color: #000;
  background: white;
}
.sound-picker button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(80, 80, 42);
}
.sound-picker button:nth-child(1) {
  background: rgb(88, 176, 235);
}
.sound-picker button:nth-child(2) {
  background: rgb(235, 88, 88);
}
