@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/img/city.jpg");
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/img/gradient.svg");
  background-size: cover;
}
@media (max-width: 795px) {
  .wrapper {
    align-items: end;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 320px) {
  .wrapper {
    justify-content: start;
    height: 568px;
  }
}

.container {
  width: 1260px;
  display: flex;
  margin: 5px 10px;
}
@media (max-width: 1130px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 795px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 310px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .container {
    justify-content: start;
    margin: 5px 5px;
  }
}

.weather {
  width: 60%;
  margin: 3% 0;
}
@media (max-width: 500px) {
  .weather {
    width: 100%;
    margin: 0;
  }
}

.location {
  width: 40%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .location {
    width: 100%;
    margin: 0;
  }
}

.options-button {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .options-button {
    justify-content: center;
  }
}

.options-button__button > sup {
  font-size: 8px;
  padding-top: 5px;
}

.options-button__button {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  color: #fff;
  border: none;
}
.options-button__button:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  .options-button__button {
    width: 34px;
    height: 34px;
  }
  .options-button__button svg {
    width: 12px;
    height: 35px;
  }
}

option {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  background-color: #928d8d;
}
@media (max-width: 500px) {
  option {
    font-size: 11px;
  }
}

select:active,
select:hover {
  outline: none;
}

.options-button__refresh {
  margin-right: 10px;
  background: url("./assets/img/Intersect_refresh.svg") 0% 100%/65%, url("./assets/img/Subtract_refresh.svg") 95% 95%/65% rgba(180, 184, 187, 0.4);
  background-repeat: no-repeat;
}
.options-button__refresh_dis {
  background: url("./assets/img/Subtract_refresh.svg") 95% 95%/65% no-repeat rgba(53, 57, 59, 0.7);
}
.options-button__refresh_dis svg path {
  fill: rgba(29, 29, 29, 0.4);
}

.options-button__lang {
  width: 71px;
  margin-right: 10px;
  padding: 0px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background: rgba(174, 181, 185, 0.5);
}
@media (max-width: 500px) {
  .options-button__lang {
    font-size: 11px;
  }
}

.options-button__temp {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-radius: 5px 0px 0px 5px;
  color: rgba(255, 255, 255, 0.4);
  background: rgba(76, 82, 85, 0.4);
}
.options-button__temp:last-child {
  border-radius: 0px 5px 5px 0px;
}
.options-button__temp_active {
  color: #fff;
  background: rgba(174, 181, 185, 0.5);
}
@media (max-width: 500px) {
  .options-button__temp {
    font-size: 12px;
  }
}

.title {
  max-width: 396px;
  padding-top: 7.7%;
  line-height: 54px;
  color: #ffffff;
}
@media (max-width: 795px) {
  .title {
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .title {
    text-align: center;
    line-height: 35px;
  }
}

.title__city {
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
}
@media (max-width: 795px) {
  .title__city {
    font-size: 30px;
  }
}

.title__line {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}
@media (max-width: 795px) {
  .title__line {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .title__line {
    justify-content: center;
    line-height: 25px;
  }
}

.title__line__time {
  padding-left: 18px;
}

.today {
  max-width: 600px;
  min-height: 373px;
  color: #fff;
  display: flex;
}
@media (max-width: 1130px) {
  .today {
    max-width: 500px;
    min-height: 285px;
  }
}
@media (max-width: 795px) {
  .today {
    min-height: 260px;
  }
}
@media (max-width: 500px) {
  .today {
    min-height: 0px;
    height: 170px;
  }
}

.today__temp {
  width: 55%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 306px;
  line-height: 360px;
  text-transform: uppercase;
}
@media (max-width: 1130px) {
  .today__temp {
    font-size: 210px;
    line-height: 260px;
  }
}
@media (max-width: 795px) {
  .today__temp {
    font-size: 150px;
    line-height: 260px;
  }
}
@media (max-width: 500px) {
  .today__temp {
    text-align: center;
    line-height: 190px;
  }
}

.today__description {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.today__description__clouds {
  height: 40%;
  background: url("./assets/img/circle.svg") 30px 80px/45px, url("./assets/img/clouds-small-1.svg") 108px 58px/63px, url("./assets/img/clouds-big.svg") 0 0/187px, url("./assets/img/sun.svg") 0 0/59px;
  background-repeat: no-repeat;
}
@media (max-width: 1130px) {
  .today__description__clouds {
    background: url("./assets/img/circle.svg") 20px 65px/45px, url("./assets/img/clouds-small-1.svg") 91px 48px/55px, url("./assets/img/clouds-big.svg") 0 0/158px, url("./assets/img/sun.svg") 0 0/50px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 795px) {
  .today__description__clouds {
    background: url("./assets/img/circle.svg") 20px 48px/34px, url("./assets/img/clouds-small-1.svg") 67px 36px/40px, url("./assets/img/clouds-big.svg") 0 0/117px, url("./assets/img/sun.svg") 0 0/37px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 500px) {
  .today__description__clouds {
    height: 50%;
  }
}

.today__description__description {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
@media (max-width: 1130px) {
  .today__description__description {
    font-size: 19px;
    line-height: 32px;
  }
}
@media (max-width: 795px) {
  .today__description__description {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 500px) {
  .today__description__description {
    line-height: 18px;
  }
}

.group-days {
  max-width: 582px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1130px) {
  .group-days {
    max-width: 400px;
  }
}

.group-days__day {
  width: 100%;
}

.group-days__day__flex {
  display: flex;
}

.group-days__day__temp {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 98px;
}
@media (max-width: 1130px) {
  .group-days__day__temp {
    font-size: 55px;
    line-height: 65px;
  }
}
@media (max-width: 795px) {
  .group-days__day__temp {
    font-size: 30px;
    line-height: 45px;
  }
}
@media (max-width: 500px) {
  .group-days__day__temp {
    line-height: 38px;
  }
}

.group-days__day__clouds {
  min-width: 75px;
  margin: 0 10px;
  background: url("./assets/img/clouds-small-2.svg") 40px 22px/26px, url("./assets/img/clouds-big.svg") 0px 0px/72px, url("./assets/img/sun.svg") 0px 0px/29%;
  background-repeat: no-repeat;
}
@media (max-width: 1130px) {
  .group-days__day__clouds {
    min-width: 50px;
    background: url("./assets/img/clouds-small-2.svg") 28px 15px/18px, url("./assets/img/clouds-big.svg") 0px 0px/50px, url("./assets/img/sun.svg") 0px 0px/29%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 795px) {
  .group-days__day__clouds {
    min-width: 33px;
    background: url("./assets/img/clouds-small-2.svg") 16px 9px/13px, url("./assets/img/clouds-big.svg") 0px 0px/31px, url("./assets/img/sun.svg") 0px 0px/29%;
    background-repeat: no-repeat;
  }
}

sup {
  font-size: 40px;
  padding-top: 4%;
  font-weight: bold;
}
@media (max-width: 1130px) {
  sup {
    font-size: 25px;
  }
}
@media (max-width: 795px) {
  sup {
    font-size: 13px;
  }
}

@media (max-width: 1130px) {
  h3 {
    font-size: 1em;
  }
}
@media (max-width: 795px) {
  h3 {
    font-size: 0.8em;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 0.7em;
  }
}

.location__input input {
  width: 70%;
  height: 100%;
  color: #fff;
  display: flex;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  background: rgba(76, 82, 85, 0.4);
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(228, 227, 227, 0.2);
}

input::-webkit-input-placeholder {
  font-size: 12px;
  color: #fff;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.9s ease;
}

.location__input {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .location__input {
    height: 30px;
  }
}

.location button {
  width: 30%;
  height: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0px 5px 5px 0px;
  border: 0px;
}
.location button:hover {
  cursor: pointer;
}
@media (max-width: 795px) {
  .location button {
    font-size: 12px;
  }
}

.location__map {
  width: 100%;
  height: 60%;
  margin-top: 100px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  line-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px #23f8ff solid;
  border-radius: 5px;
}
@media (max-width: 1130px) {
  .location__map {
    margin-top: 50px;
    height: 50%;
  }
}
@media (max-width: 795px) {
  .location__map {
    margin-top: 40px;
    height: 45%;
  }
}
@media (max-width: 500px) {
  .location__map {
    margin-top: 3px;
    height: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
