.location {
  width: 40%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    & input {
      width: 70%;
      height: 100%;
      color: #fff;
      display: flex;
      padding-left: 15px;
      justify-content: center;
      align-items: center;
      background: rgba(76, 82, 85, 0.4);
      border-radius: 5px 0px 0px 5px;
      border: 1px solid rgba(228, 227, 227, 0.2);
    }
    @include media-mobile {
      height: 30px;
      margin-bottom: 15px;
    }
  }
  & button {
    width: 30%;
    height: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    &:hover {
      cursor: pointer;
    }
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__coord {
    width: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    align-items: end;
    & p {
      min-width: 50%;
    }
  }
  &__map {
    width: 100%;
    height: 65%;
    min-height: 205px;
    margin-top: 100px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 8vw;
    line-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px rgb(35, 248, 255) solid;
    border-radius: 5px;
    @include media-laptop {
      margin-top: 50px;
      height: 67%;
    }
    @include media-tablet {
      height: 30%;
      margin-top: 40px;
      line-height: 260px;
    }
    @include media-mobile {
      margin-top: 3px;
    }
  }
  @include media-mobile {
    width: 100%;
    margin: 0;
  }
}

input::-webkit-input-placeholder {
  font-size: 12px;
  color: #fff;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.9s ease;
}

#buttons {
  position: relative;
  top: -65%;
  width: 90%;
  margin: 0 auto;
  @include media-laptop {
    top: -68%;
  }
  @include media-tablet {
    top: -30%;
  }
  @include media-mobile {
    top: -210px;
  }
}
.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20%;
  padding: 8px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: rgb(119, 119, 119);
  background: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  font-weight: bold;
  &_active {
    color: #fff;
    background: rgba(63, 177, 206, 0.8);
  }
}
