.today {
  max-width: 680px;
  min-height: 373px;
  color: #fff;
  display: flex;
  &__list {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    @include media-laptop {
      font-size: 16px;
      line-height: 32px;
    }
    @include media-tablet {
      font-size: 10px;
      line-height: 25px;
    }
    @include media-mobile {
      line-height: 18px;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background: url('./assets/img/circle.svg') 0px 15px/45px;
    background-repeat: no-repeat;
    @include media-laptop {
      background: url('./assets/img/circle.svg') 0px 15px/45px;
      background-repeat: no-repeat;
    }
    @include media-tablet {
      background: url('./assets/img/circle.svg') 0px 15px/34px;
      background-repeat: no-repeat;
    }
    @include media-mobile {
      height: 50%;
    }
  }
  &__description {
    width: 45%;
    margin: 0 10px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__feelslike {
    width: 110%;
    display: flex;
  }
  &__circle {
    height: 17px;
    width: 7%;
    background: url('./assets/img/circle.svg') 1px 10px/8px;
    background-repeat: no-repeat;
    @include media-laptop {
      background: url('./assets/img/circle.svg') 1px 8px/8px;
      background-repeat: no-repeat;
    }
    @include media-tablet {
      background: url('./assets/img/circle.svg') 1px 7px/6px;
      background-repeat: no-repeat;
    }
    @include media-mobile {
      background: url('./assets/img/circle.svg') 1px 4px/6px;
      background-repeat: no-repeat;
    }
  }
  &__temp {
    display: flex;
    justify-content: center;
    width: 63%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 306px;
    line-height: 360px;
    text-transform: uppercase;
    &_standby {
      width: 63%;
      background: url('./assets/img/loading.gif') 90px 65px/55%;
      background-repeat: no-repeat;
      @include media-tablet {
        background: url('./assets/img/loading.gif') 45px 65px/55%;
        background-repeat: no-repeat;
      }
    }
    @include media-laptop {
      width: 55%;
      font-size: 210px;
      line-height: 260px;
    }
    @include media-tablet {
      font-size: 130px;
      line-height: 260px;
    }
    @include media-mobile {
      font-size: 135px;
      text-align: center;
      line-height: 190px;
    }
  }
  @include media-laptop {
    max-width: 500px;
    min-height: 285px;
  }
  @include media-tablet {
    min-height: 260px;
  }
  @include media-mobile {
    min-height: 0px;
    height: 170px;
    margin-bottom: 30px;
  }
}

.sunny {
  animation: sunny 15s linear infinite;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 140px;
  width: 15px;
  margin-top: -85px;
  @include media-tablet {
    height: 80px;
    width: 7px;
    margin-top: -55px;
    margin-right: -5px;
  }
}

@keyframes sunny {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sunny:before {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 140px;
  width: 15px;
  opacity: 1;
  position: absolute;
  transform: rotate(90deg);
  @include media-tablet {
    height: 80px;
    width: 7px;
  }
}
.sunny:after {
  background: #ffee44;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  left: -18px;
  top: 45px;
  @include media-tablet {
    height: 25px;
    width: 25px;
    left: -9px;
    top: 27px;
    box-shadow: rgb(255 255 0 / 20%) 0 0 0 8px;
  }
}

.rainy {
  animation: rainy 5s ease-in-out infinite 1s;
  background: #cccccc;
  border-radius: 50%;
  box-shadow: #cccccc 64px -15px 0 -5px, #cccccc 25px -25px, #cccccc 30px 10px,
    #cccccc 60px 15px 0 -10px, #cccccc 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
  z-index: 1;
  @include media-tablet {
    box-shadow: #cccccc 35px -8px 0 -2px, #cccccc 15px -12px, #cccccc 17px 5px,
      #cccccc 33px 7px 0 -5px, #cccccc 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

.rainy:before {
  animation: rainy_rain 0.3s infinite linear;
  content: '';
  border-radius: 50%;
  display: block;
  height: 9px;
  width: 4px;
  opacity: 0.3;
  transform: scale(0.9);
  @include media-tablet {
    animation: rainy_rain_tablet 0.3s infinite linear;
  }
}
@keyframes rainy {
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rainy_rain {
  0% {
    box-shadow: rgba(255, 255, 255, 1) 30px 30px,
      rgba(255, 255, 255, 1) 40px 40px, #bbe6ff 50px 75px, #bbe6ff 55px 50px,
      #bbe6ff 70px 100px, #bbe6ff 80px 95px, #bbe6ff 110px 45px,
      #bbe6ff 90px 35px;
  }
  25% {
    box-shadow: #bbe6ff 30px 45px, #bbe6ff 40px 60px, #bbe6ff 50px 90px,
      #bbe6ff 55px 65px, rgba(255, 255, 255, 1) 70px 120px,
      rgba(255, 255, 255, 1) 80px 120px, #bbe6ff 110px 70px, #bbe6ff 90px 60px;
  }
  26% {
    box-shadow: #bbe6ff 30px 45px, #bbe6ff 40px 60px, #bbe6ff 50px 90px,
      #bbe6ff 55px 65px, rgba(255, 255, 255, 1) 70px 40px,
      rgba(255, 255, 255, 1) 80px 20px, #bbe6ff 110px 70px, #bbe6ff 90px 60px;
  }
  50% {
    box-shadow: #bbe6ff 30px 70px, #bbe6ff 40px 80px,
      rgba(255, 255, 255, 1) 50px 100px, #bbe6ff 55px 80px, #bbe6ff 70px 60px,
      #bbe6ff 80px 45px, #bbe6ff 110px 95px, #bbe6ff 90px 85px;
  }
  51% {
    box-shadow: #bbe6ff 30px 70px, #bbe6ff 40px 80px,
      rgba(255, 255, 255, 1) 50px 45px, #bbe6ff 55px 80px, #bbe6ff 70px 60px,
      #bbe6ff 80px 45px, #bbe6ff 110px 95px, #bbe6ff 90px 85px;
  }
  75% {
    box-shadow: #bbe6ff 30px 95px, #bbe6ff 40px 100px, #bbe6ff 50px 60px,
      rgba(255, 255, 255, 1) 55px 95px, #bbe6ff 70px 80px, #bbe6ff 80px 70px,
      rgba(255, 255, 255, 1) 110px 120px, rgba(255, 255, 255, 1) 90px 110px;
  }
  76% {
    box-shadow: #bbe6ff 30px 95px, #bbe6ff 40px 100px, #bbe6ff 50px 60px,
      rgba(255, 255, 255, 1) 55px 35px, #bbe6ff 70px 80px, #bbe6ff 80px 70px,
      rgba(255, 255, 255, 1) 110px 25px, rgba(255, 255, 255, 1) 90px 15px;
  }
  100% {
    box-shadow: rgba(255, 255, 255, 1) 30px 120px,
      rgba(255, 255, 255, 1) 40px 120px, #bbe6ff 50px 75px, #bbe6ff 55px 50px,
      #bbe6ff 70px 100px, #bbe6ff 80px 95px, #bbe6ff 110px 45px,
      #bbe6ff 90px 35px;
  }
}

@keyframes rainy_rain_tablet {
  0% {
    box-shadow: rgba(255, 255, 255, 1) 30px 30px,
      rgba(255, 255, 255, 1) 40px 40px, #bbe6ff 50px 75px, #bbe6ff 55px 50px,
      #bbe6ff 25px 100px, #bbe6ff 65px 95px, #bbe6ff 10px 45px, #bbe6ff 0px 35px;
  }
  25% {
    box-shadow: #bbe6ff 30px 45px, #bbe6ff 40px 60px, #bbe6ff 50px 90px,
      #bbe6ff 55px 65px, rgba(255, 255, 255, 1) 25px 120px,
      rgba(255, 255, 255, 1) 65px 120px, #bbe6ff 10px 70px, #bbe6ff 0px 60px;
  }
  26% {
    box-shadow: #bbe6ff 30px 45px, #bbe6ff 40px 60px, #bbe6ff 50px 90px,
      #bbe6ff 55px 65px, rgba(255, 255, 255, 1) 25px 40px,
      rgba(255, 255, 255, 1) 65px 20px, #bbe6ff 10px 70px, #bbe6ff 0px 60px;
  }
  50% {
    box-shadow: #bbe6ff 30px 70px, #bbe6ff 40px 80px,
      rgba(255, 255, 255, 1) 50px 100px, #bbe6ff 55px 80px, #bbe6ff 25px 60px,
      #bbe6ff 65px 45px, #bbe6ff 10px 95px, #bbe6ff 0px 85px;
  }
  51% {
    box-shadow: #bbe6ff 30px 70px, #bbe6ff 40px 80px,
      rgba(255, 255, 255, 1) 50px 45px, #bbe6ff 55px 80px, #bbe6ff 25px 60px,
      #bbe6ff 65px 45px, #bbe6ff 10px 95px, #bbe6ff 0px 85px;
  }
  75% {
    box-shadow: #bbe6ff 30px 95px, #bbe6ff 40px 100px, #bbe6ff 50px 60px,
      rgba(255, 255, 255, 1) 55px 95px, #bbe6ff 25px 80px, #bbe6ff 65px 70px,
      rgba(255, 255, 255, 1) 10px 120px, rgba(255, 255, 255, 1) 0px 110px;
  }
  76% {
    box-shadow: #bbe6ff 30px 95px, #bbe6ff 40px 100px, #bbe6ff 50px 60px,
      rgba(255, 255, 255, 1) 55px 35px, #bbe6ff 25px 80px, #bbe6ff 65px 70px,
      rgba(255, 255, 255, 1) 10px 25px, rgba(255, 255, 255, 1) 0px 15px;
  }
  100% {
    box-shadow: rgba(255, 255, 255, 1) 30px 120px,
      rgba(255, 255, 255, 1) 40px 120px, #bbe6ff 50px 75px, #bbe6ff 55px 50px,
      #bbe6ff 25px 100px, #bbe6ff 65px 95px, #bbe6ff 10px 45px, #bbe6ff 0px 35px;
  }
}

.snowy {
  animation: snowy 5s ease-in-out infinite 1s;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: #ffffff 64px -15px 0 -5px, #ffffff 25px -25px, #ffffff 30px 10px,
    #ffffff 60px 15px 0 -10px, #ffffff 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
  @include media-tablet {
    box-shadow: #ffffff 35px -8px 0 -2px, #ffffff 15px -12px, #ffffff 17px 5px,
      #ffffff 33px 7px 0 -5px, #ffffff 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

.snowy:before {
  animation: snowy_snow 15s infinite linear;
  content: '';
  border-radius: 50%;
  display: block;
  height: 23px;
  width: 23px;
  opacity: 0.8;
  transform: scale(0.9);
  @include media-tablet {
    animation: snowy_snow_tablet 15s infinite linear;
    height: 13px;
    width: 13px;
  }
}
@keyframes snowy {
  50% {
    transform: translateY(-20px);
  }
}

@keyframes snowy_snow {
  0% {
    box-shadow: #fff 5px 30px, #fff 40px 40px, #fff 50px 75px, #fff 55px 50px,
      #fff 70px 100px, #fff 80px 95px, #fff 110px 45px, #fff 90px 35px;
  }
  25% {
    box-shadow: #fff 5px 45px, #fff 40px 60px, #fff 50px 90px, #fff 55px 65px,
      rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px,
      #fff 110px 70px, #fff 90px 60px;
  }
  26% {
    box-shadow: #fff 5px 45px, #fff 40px 60px, #fff 50px 90px, #fff 55px 65px,
      rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px,
      #fff 110px 70px, #fff 90px 60px;
  }
  50% {
    box-shadow: #fff 5px 70px, #fff 40px 80px, rgba(238, 238, 238, 0) 50px 100px,
      #fff 55px 80px, #fff 70px 60px, #fff 80px 45px, #fff 110px 95px,
      #fff 90px 85px;
  }
  51% {
    box-shadow: #fff 5px 70px, #fff 40px 80px, rgba(238, 238, 238, 0) 50px 45px,
      #fff 55px 80px, #fff 70px 60px, #fff 80px 45px, #fff 110px 95px,
      #fff 90px 85px;
  }
  75% {
    box-shadow: #fff 5px 95px, #fff 40px 100px, #fff 50px 60px,
      rgba(238, 238, 238, 0) 55px 95px, #fff 70px 80px, #fff 80px 70px,
      rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    box-shadow: #fff 5px 95px, #fff 40px 100px, #fff 50px 60px,
      rgba(238, 238, 238, 0) 55px 35px, #fff 70px 80px, #fff 80px 70px,
      rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    box-shadow: rgba(238, 238, 238, 0) 5px 120px,
      rgba(238, 238, 238, 0) 40px 120px, #fff 50px 75px, #fff 55px 50px,
      rgba(238, 238, 238, 0) 70px 100px, rgba(238, 238, 238, 0) 80px 95px,
      #fff 110px 45px, #fff 90px 35px;
  }
}

.cloudy {
  animation: overcastcloudy 5s ease-in-out infinite;
  background: #ebebeb;
  border-radius: 50%;
  box-shadow: #ebebeb 64px -15px 0 -5px, #ebebeb 25px -25px, #ebebeb 30px 10px,
    #ebebeb 60px 15px 0 -10px, #ebebeb 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
  z-index: 1;
  @include media-tablet {
    box-shadow: #ebebeb 35px -8px 0 -2px, #ebebeb 15px -12px, #ebebeb 17px 5px,
      #ebebeb 33px 7px 0 -5px, #ebebeb 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

@keyframes snowy_snow_tablet {
  0% {
    box-shadow: #fff 5px 30px, #fff 40px 40px, #fff 50px 75px, #fff 55px 50px,
      #fff 65px 100px, #fff 30px 95px, #fff 10px 45px, #fff 0px 35px;
  }
  25% {
    box-shadow: #fff 5px 45px, #fff 40px 60px, #fff 50px 90px, #fff 55px 65px,
      rgba(238, 238, 238, 0) 65px 120px, rgba(238, 238, 238, 0) 30px 120px,
      #fff 10px 70px, #fff 0px 60px;
  }
  26% {
    box-shadow: #fff 5px 45px, #fff 40px 60px, #fff 50px 90px, #fff 55px 65px,
      rgba(238, 238, 238, 0) 65px 40px, rgba(238, 238, 238, 0) 30px 20px,
      #fff 10px 70px, #fff 0px 60px;
  }
  50% {
    box-shadow: #fff 5px 70px, #fff 40px 80px, rgba(238, 238, 238, 0) 50px 100px,
      #fff 55px 80px, #fff 65px 60px, #fff 30px 45px, #fff 10px 95px,
      #fff 0px 85px;
  }
  51% {
    box-shadow: #fff 5px 70px, #fff 40px 80px, rgba(238, 238, 238, 0) 50px 45px,
      #fff 55px 80px, #fff 65px 60px, #fff 30px 45px, #fff 10px 95px,
      #fff 0px 85px;
  }
  75% {
    box-shadow: #fff 5px 95px, #fff 40px 100px, #fff 50px 60px,
      rgba(238, 238, 238, 0) 55px 95px, #fff 65px 80px, #fff 30px 70px,
      rgba(238, 238, 238, 0) 10px 120px, rgba(238, 238, 238, 0) 0px 110px;
  }
  76% {
    box-shadow: #fff 5px 95px, #fff 40px 100px, #fff 50px 60px,
      rgba(238, 238, 238, 0) 55px 35px, #fff 65px 80px, #fff 30px 70px,
      rgba(238, 238, 238, 0) 10px 25px, rgba(238, 238, 238, 0) 0px 15px;
  }
  100% {
    box-shadow: rgba(238, 238, 238, 0) 5px 120px,
      rgba(238, 238, 238, 0) 40px 120px, #fff 50px 75px, #fff 55px 50px,
      rgba(238, 238, 238, 0) 65px 100px, rgba(238, 238, 238, 0) 30px 95px,
      #fff 10px 45px, #fff 0px 35px;
  }
}

.cloudy {
  animation: cloudy 5s ease-in-out infinite;
  background: #ebebeb;
  border-radius: 50%;
  box-shadow: #ebebeb 64px -15px 0 -5px, #ebebeb 25px -25px, #ebebeb 30px 10px,
    #ebebeb 60px 15px 0 -10px, #ebebeb 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
  z-index: 1;
  @include media-tablet {
    box-shadow: #ebebeb 35px -8px 0 -2px, #ebebeb 15px -12px, #ebebeb 17px 5px,
      #ebebeb 33px 7px 0 -5px, #ebebeb 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

@keyframes cloudy {
  50% {
    transform: translateY(-20px);
  }
}

.overcastcloudy {
  animation: overcastcloudy 9s ease-in-out infinite;
  background: #8f8f8f;
  border-radius: 50%;
  box-shadow: #8f8f8f 64px -15px 0 -5px, #8f8f8f 25px -25px, #8f8f8f 30px 10px,
    #8f8f8f 60px 15px 0 -10px, #8f8f8f 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
  @include media-tablet {
    box-shadow: #8f8f8f 35px -8px 0 -2px, #8f8f8f 15px -12px, #8f8f8f 17px 5px,
      #8f8f8f 33px 7px 0 -5px, #8f8f8f 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

.overcastcloudy:after {
  content: '';
  animation: overcastcloudy 5s ease-in-out infinite 1s;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: #ffffff 64px -15px 0 -5px, #ffffff 25px -25px, #ffffff 30px 10px,
    #ffffff 60px 15px 0 -10px, #ffffff 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  margin-top: 15px;
  @include media-tablet {
    box-shadow: #ffffff 35px -8px 0 -2px, #ffffff 15px -12px, #ffffff 17px 5px,
      #ffffff 33px 7px 0 -5px, #ffffff 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

@keyframes overcastcloudy {
  50% {
    transform: translateY(-20px);
  }
}

.stormy {
  animation: stormy 5s ease-in-out infinite;
  background: #636363;
  border-radius: 50%;
  box-shadow: #636363 65px -15px 0 -5px, #636363 25px -25px, #636363 30px 10px,
    #636363 60px 15px 0 -10px, #636363 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
  @include media-tablet {
    box-shadow: #636363 35px -8px 0 -2px, #636363 15px -12px, #636363 17px 5px,
      #636363 33px 7px 0 -5px, #636363 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}

.stormy:before {
  animation: stormy_thunder 2s steps(1, end) infinite;
  border-left: 0px solid transparent;
  border-right: 7px solid transparent;
  border-top: 43px solid yellow;
  box-shadow: yellow -7px -32px;
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  left: 57px;
  top: 70px;
  transform: rotate(14deg);
  transform-origin: 50% -60px;
  @include media-tablet {
    border-right: 5px solid transparent;
    border-top: 20px solid yellow;
    box-shadow: yellow -4px -16px;
    left: 25px;
    top: 45px;
  }
}

.stormy:after {
  content: '';
  animation: cloudy 5s ease-in-out infinite 1s;
  background: #3d3d3d;
  border-radius: 50%;
  box-shadow: #3d3d3d 64px -15px 0 -5px, #3d3d3d 25px -25px, #3d3d3d 30px 10px,
    #3d3d3d 60px 15px 0 -10px, #3d3d3d 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  margin-top: 15px;
  @include media-tablet {
    box-shadow: #3d3d3d 35px -8px 0 -2px, #3d3d3d 15px -12px, #3d3d3d 17px 5px,
      #3d3d3d 33px 7px 0 -5px, #3d3d3d 45px 2px 0 -3px;
    height: 25px;
    width: 25px;
  }
}
@keyframes stormy {
  50% {
    transform: translateY(-20px);
  }
}
@keyframes stormy_thunder {
  0% {
    transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    transform: rotate(-34deg);
    opacity: 0;
  }
}

.starry {
  animation: starry_star 5s ease-in-out infinite;
  background: #fff;
  border-radius: 50%;
  box-shadow: #ffffff 26px 7px 0 -1px, rgba(255, 255, 255, 1) -36px -19px 0 -1px,
    rgba(255, 255, 255, 1) -51px -34px 0 -1px, #ffffff -52px -62px 0 -1px,
    #ffffff 14px -37px, rgba(255, 255, 255, 1) 41px -19px, #ffffff 34px -50px,
    rgba(255, 255, 255, 1) 14px -71px 0 -1px, #ffffff 64px -21px 0 -1px,
    rgba(255, 255, 255, 1) 32px -85px 0 -1px, #ffffff 54px -90px,
    rgba(255, 255, 255, 1) 60px -67px 0 -1px, #ffffff -14px -80px,
    rgba(255, 255, 255, 1) -33px -90px 0 -1px;
  height: 4px;
  width: 4px;
  opacity: 1;
}
.starry:after {
  animation: starry 5s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: #ffffff -17px 0px;
  content: '';
  height: 60px;
  width: 60px;
  position: absolute;
  margin-top: -85px;
  margin-left: 60px;
  transform: rotate(-5deg);
  transform-origin: 0 50%;
  @include media-tablet {
    box-shadow: #ffffff -7px 0px;
    height: 30px;
    width: 30px;
    margin-top: -50px;
    margin-left: 35px;
  }
}

@keyframes starry {
  50% {
    transform: rotate(10deg);
  }
}
@keyframes starry_star {
  50% {
    box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px,
      #ffffff -36px -19px 0 -1px, #ffffff -51px -34px 0 -1px,
      rgba(255, 255, 255, 0.1) -52px -62px 0 -1px,
      rgba(255, 255, 255, 0.1) 14px -37px, #ffffff 41px -19px,
      rgba(255, 255, 255, 0.1) 34px -50px, #ffffff 14px -71px 0 -1px,
      rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, #ffffff 32px -85px 0 -1px,
      rgba(255, 255, 255, 0.1) 54px -90px, #ffffff 60px -67px 0 -1px,
      rgba(255, 255, 255, 0.1) -14px -80px, #ffffff -33px -90px 0 -1px;
  }
}
