.today {
  max-width: 680px;
  min-height: 373px;
  color: #fff;
  display: flex;
  @include media-laptop {
    max-width: 500px;
    min-height: 285px;
  }
  @include media-tablet {
    min-height: 260px;
  }
  @include media-mobile {
    min-height: 0px;
    height: 170px;
  }
}

.today__temp {
  width: 63%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 306px;
  line-height: 360px;
  text-transform: uppercase;
  @include media-laptop {
    width: 55%;
    font-size: 210px;
    line-height: 260px;
  }
  @include media-tablet {
    font-size: 140px;
    line-height: 260px;
  }
  @include media-mobile {
    font-size: 135px;
    text-align: center;
    line-height: 190px;
  }
}

.today__description {
  width: 45%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.today__description__clouds {
  height: 40%;
  background: url('./assets/img/circle.svg') 30px 80px/45px,
    url('./assets/img/clouds-small-1.svg') 108px 58px/63px,
    url('./assets/img/clouds-big.svg') 0 0/187px,
    url('./assets/img/sun.svg') 0 0/59px;
  background-repeat: no-repeat;
  @include media-laptop {
    background: url('./assets/img/circle.svg') 20px 65px/45px,
      url('./assets/img/clouds-small-1.svg') 91px 48px/55px,
      url('./assets/img/clouds-big.svg') 0 0/158px,
      url('./assets/img/sun.svg') 0 0/50px;
    background-repeat: no-repeat;
  }
  @include media-tablet {
    background: url('./assets/img/circle.svg') 20px 48px/34px,
      url('./assets/img/clouds-small-1.svg') 67px 36px/40px,
      url('./assets/img/clouds-big.svg') 0 0/117px,
      url('./assets/img/sun.svg') 0 0/37px;
    background-repeat: no-repeat;
  }
  @include media-mobile {
    height: 50%;
  }
}

.today__description__description {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  @include media-laptop {
    font-size: 19px;
    line-height: 32px;
  }
  @include media-tablet {
    font-size: 12px;
    line-height: 25px;
  }
  @include media-mobile {
    line-height: 18px;
  }
}

.feels-like {
  display: flex;
}

.feels-like-temp {
  height: 17px;
  width: 7%;
  background: url('./assets/img/circle.svg') 1px 10px/8px;
  background-repeat: no-repeat;
  @include media-laptop {
    background: url('./assets/img/circle.svg') 1px 8px/8px;
    background-repeat: no-repeat;
  }
  @include media-tablet {
    background: url('./assets/img/circle.svg') 1px 7px/6px;
    background-repeat: no-repeat;
  }
  @include media-mobile {
    background: url('./assets/img/circle.svg') 1px 4px/6px;
    background-repeat: no-repeat;
  }
}
